---
import EventoComponent from "./EventoComponent.astro";
---

<div class="pt-20 h-full ">
    <section class="h-full p-4 s flex flex-col gap-4">

   
    <h1 class="text-4xl text-gray-700 font-black bg-gray-200 flex justify-center items-center">ENERO</h1>
    <EventoComponent/>
    <EventoComponent/>
    <EventoComponent/>
    <EventoComponent/>
     </section>

</div>