---
import EventosComponent from "../components/Eventos/EventosComponent.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout pagina="Eventos">
<div class=" h-full">
    <EventosComponent/>
</div>

</Layout>

