---
import CardEvento from "./CardEvento.astro";
import Hiro from "./Hiro.astro";
import NotaPrincipal from "./NotaPrincipal.astro";
import TarjetaFederacion from "./TarjetaFederacion.astro";


---

<div class="home bg-gray-800 h-full">
	<Hiro/>
<div class="flex overflow-hidden gap-2 p-5">
	<TarjetaFederacion/>
	<TarjetaFederacion/>
	<TarjetaFederacion/>
	<TarjetaFederacion/>
	<TarjetaFederacion/>
	<TarjetaFederacion/>
</div>
<div class="p-5">

	<NotaPrincipal/>
</div>
<div class="grid grid-cols-2 gap-4 p-4">
	<CardEvento/>
	<CardEvento/>
	<CardEvento/>
	<CardEvento/>
</div>

</div>

