---
import CalendarioIcono from "../Iconos/CalendarioIcono.astro";
import FederacionesIconos from "../Iconos/FederacionesIconos.astro";
import GraficaBarraIcono from "../Iconos/GraficaBarraIcono.astro";
import MusicaIcono from "../Iconos/musicaIcono.astro";
import PremioIcono from "../Iconos/PremioIcono.astro";
import TrofeosIcono from "../Iconos/TrofeosIcono.astro";
import CardPagina from "./CardPagina.astro";
import Hiro from "./Hiro.astro";
import NotaPrincipal from "./NotaPrincipal.astro";
import TarjetaFederacion from "./TarjetaFederacion.astro";
---

<div class="home h-full">
  <Hiro />

  <h2></h2>

  <div class="grid grid-cols-2 gap-4 p-4">
	  <CardPagina Titulo="CAMPEONES RECIENTES" 
	  direccion="/CampeonesRecientes"
	  columnas={2} 
	  filas={1}
	  hojaActiva={true}

	  >
      <i class="fi fi-br-crown text-5xl text-white"></i>
    </CardPagina>
    <CardPagina 
    Titulo="EVENTOS " 
    columnas={1} 
    filas={2}
    hojaActiva={true}
    direccion="/Eventos"
    >
      <CalendarioIcono />
    </CardPagina>
    <CardPagina Titulo="COPAS" 
	columnas={1} 
	filas={1} 
	hojaActiva={false}>
      <TrofeosIcono />
    </CardPagina>
    <CardPagina 
    Titulo="ESTADISTICAS" 
    columnas={1} 
    filas={1}
    hojaActiva={true}
    direccion="/Estadisticas"
    >
      <GraficaBarraIcono columnas={1} filas={1} />
    </CardPagina>
    <CardPagina Titulo="FEDERACIONES" columnas={2} filas={1}>
      <FederacionesIconos />
    </CardPagina>
    <CardPagina Titulo="BANDAS" columnas={1} filas={1}>
      <i class="fi fi-br-drum text-5xl text-white"></i>
    </CardPagina>
    <CardPagina Titulo="MUSICA" columnas={1} filas={2}>
      <MusicaIcono />
    </CardPagina>
    <CardPagina Titulo="MB AWARDS" columnas={1} filas={1}>
      <PremioIcono />
    </CardPagina>
    <CardPagina Titulo="SALON DE LA FAMA" columnas={2} filas={1}>
      <i class="fi fi-br-bank text-5xl text-white"></i>
    </CardPagina>
  
  </div>
</div>
